<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/stylesheets/index.css">
        <title>Andatrade</title>
    </head>
    <body>
        <div class="container">
            <h1 class="hello">
                <span style="white-space: normal" >
                    Bienvenidos a Andatrade
                </span>
            </h1>
            <form method="POST">    
                <input class="search" type="search" name="data" placeholder="SteamID or Profile Link"/>
                <input class="fetch" type="submit" value="Fetch" />
            </form>
        </div>
    </body>
</html>